:root {
  --purple: #a729f5;
  --red: #ee5454;
  --green: #26d782;
  --navy: #3b4d66;
  --dark-navy: #313e51;
  --grey-navy: #626c7f;
  --light-grey: #abc1e1;
  --light-bluish: #f4f6fa;
  --pure-white: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body {
  background-image: url("../public/assets/images/pattern-background-desktop-light.svg");
  background-color: var(--light-grey);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body.dark {
  background-image: url("../public/assets/images/pattern-background-desktop-dark.svg");
  background-color: var(--dark-navy);
  color: var(--pure-white);
}

.empty-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.empty-answer p {
  color: var(--red);
}

.dark .empty-answer p {
  color: var(--pure-white) !important;
}

.result {
  width: 100%;
  background-color: var(--pure-white);
  padding: 3rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dark .result {
  background-color: var(--navy);
}

.dark .result .heading-lg-bold {
  color: var(--pure-white) !important;
}

.dark .result .body-m {
  color: var(--light-bluish) !important;
}

.container {
  width: 72.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* TYPOGRAPHY  */

.heading-lg {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 200;
}

.heading-lg-bold {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 500;
}

.heading-md {
  font-size: 2.25rem;
  line-height: 100%;
}

.heading-sm {
  font-size: 1.75rem;
  line-height: 100%;
}

.body-m {
  font-size: 0.75rem;
  line-height: 150%;
}

.body-s {
  font-size: 0.75rem;
  line-height: 150%;
  font-style: italic;
}

.main {
  width: 72.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 29.0625rem;
  height: 26rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.headingTwoLines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 4rem;
  }

  .main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    gap: 1rem;
    height: auto;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 4rem;
  }

  .right-side {
    width: 100%;
  }

  .headingTwoLines {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 1.5rem;
  }

  .heading-lg,
  .heading-lg-bold {
    font-size: 2.5rem;
  }

  .heading-md {
    font-size: 1.5rem;
  }

  .heading-sm {
    font-size: 1.125rem;
  }

  .left-side {
    margin-bottom: 2.5rem;
  }
}
