.link {
  width: 35.25rem;
  background-color: var(--pure-white);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem;
  gap: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--dark-navy);
}

@media screen and (max-width: 768px) {
  .link {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .link {
    padding: 0.75rem;
  }
}
